.Character .card {

    &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        cursor: pointer;
    }

    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}